<div class="scroll-content" th:fragment="content">
    <link rel="stylesheet" th:href="@{/assets/css/admin/feedbackAdmin.css}">
    <script th:src="@{/assets/js/admin/feedback.js}" defer></script>

    <div class="container">
        <div class="page-header">Phản hồi khách hàng</div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="good-feedback-wrapper">
                <!-- JS sẽ append các swiper-slide tại đây -->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="list-container">
        <div class="feedback-list-wrapper">
            <div class="d-flex flex-row justify-content-between" style="padding: 12px 24px 12px 12px;">
                <h3 class="feedback-list-title">Danh sách đánh giá chi tiết</h3>
                <div class="search-box align-items-center">
                    <input type="text" placeholder="Search here" id="search-input" oninput="">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <ul class="feedback-list" id="feedback-list" style="padding: 0">

            </ul>
            <div class="pagination">
                <span style="font-size: 12px" id="page-staff-total">1-4 of 12</span>
                <div style="font-size: 12px" id="pagination-page">
                    <i class="fa-solid fa-angle-left" style="cursor: pointer; margin: 0 6px;"></i>
                    <i class="fa-solid fa-angle-right" style="cursor: pointer;margin: 0 6px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>

