<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/assets/css/admin/serviceAdmin.css}">
    <script th:src="@{/assets/js/admin/service.js}"></script>
    <div class="container-fluid mb-4">
        <div class="container py-5" style="background: white; padding: 24px; border-radius: 24px; max-width: 1195px">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="w-100">
                            <div class="card" style="flex-direction: row; width: 100%; box-shadow: none;">
                                <div class="card-content">
                                    <h2>Choose the best</h2>
                                    <p>Find the story of Creative Tim’s most complex design system and all the work that make this design available.</p>
                                    <div class="buttons">
                                        <button class="btn-primary">CONTACT US</button>
                                        <button class="btn-secondary">READ MORE</button>
                                    </div>
                                    <div class="logos">
                                        <span>Pinterest</span>
                                        <span>NETFLIX</span>
                                        <span>coinbase</span>
                                        <span>NASA</span>
                                    </div>
                                </div>
                                <div class="card-image" style="background-image: url('/assets/images/base/admin/department-icon/test-1.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <div class="card" style="flex-direction: row; width: 100%; box-shadow: none;">
                                <div class="card-content">
                                    <h2>Choose the best</h2>
                                    <p>Find the story of Creative Tim’s most complex design system and all the work that make this design available.</p>
                                    <div class="buttons">
                                        <button class="btn-primary">CONTACT US</button>
                                        <button class="btn-secondary">READ MORE</button>
                                    </div>
                                    <div class="logos">
                                        <span>Pinterest</span>
                                        <span>NETFLIX</span>
                                        <span>coinbase</span>
                                        <span>NASA</span>
                                    </div>
                                </div>
                                <div class="card-image" style="background-image: url('/assets/images/base/admin/department-icon/test-1.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <div class="card" style="flex-direction: row; width: 100%; box-shadow: none;">
                                <div class="card-content">
                                    <h2>Choose the best</h2>
                                    <p>Find the story of Creative Tim’s most complex design system and all the work that make this design available.</p>
                                    <div class="buttons">
                                        <button class="btn-primary">CONTACT US</button>
                                        <button class="btn-secondary">READ MORE</button>
                                    </div>
                                    <div class="logos">
                                        <span>Pinterest</span>
                                        <span>NETFLIX</span>
                                        <span>coinbase</span>
                                        <span>NASA</span>
                                    </div>
                                </div>
                                <div class="card-image" style="background-image: url('/assets/images/base/admin/department-icon/test-1.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Swiper Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>