<div th:fragment="content" >
    <link rel="stylesheet" th:href="@{/assets/css/admin/staffAdmin.css}">
    <script th:src="@{/assets/js/admin/staff.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <div class="container-fluid team mb-5">
        <div class="container py-5" style="background: white; padding: 24px; border-radius: 24px;">
            <div class="text-center mx-auto mb-5" style="max-width: 800px;">
                <p class="fs-4 text-uppercase text-primary">Chuyên Gia Làm Đẹp</p>
                <h1 class="display-4 mb-4">Chuyên gia Spa & Làm đẹp</h1>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <!-- Nhóm 4 nhân viên một slide -->
                    <div class="swiper-slide">
                        <div class="row g-4" id="skintherapist-content">

                        </div>
                    </div>
                </div>
                <div class="swiper-button-next" id="swiper-button-next" style="z-index: 999"></div>
                <div class="swiper-button-prev" id="swiper-button-prev" style="z-index: 999"></div>
            </div>
        </div>
    </div>
    <div class="row" style=" justify-content: space-around">
        <div class="col-md-12 mb-4" style="padding: 0 24px;border-radius: 24px;">
            <div class="table-container" style="background: white;padding: 24px 24px 12px 24px;border-radius: 24px;">
                <div class="table-header d-flex justify-content-between align-baseline">
                    <h6 class="d-flex align-content-lg-center" style="margin: 0;font-size: 18px; font-weight: 700">Staff Info</h6>
                    <div class="search-box align-items-center">
                        <input type="text" placeholder="Search here" id="search-input" oninput="renderDataStaff.renderAllStaffTable();">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th class="column-id">StaffID</th>
                        <th class="column-name">FullName</th>
                        <th class="column-birth">BirthDay</th>
                        <th class="column-email">Email</th>
                        <th class="column-phone">Phone</th>
                        <th class="column-gender">Gender</th>
                        <th class="column-department">Expertise</th>
                        <th class="column-position">Salary</th>
                        <th class="column-option"><i class="fa-solid fa-ellipsis-vertical"></i></th>
                    </tr>
                    </thead>
                    <tbody id="table-content">
                        <tr>
                            <td class="data column-id">StaffID</td>
                            <td class="data column-name"><img th:src="@{/assets/images/base/admin/bestseller-icon.png}">FullName</td>
                            <td class="data column-birth">BirthDay</td>
                            <td class="data column-email">Email</td>
                            <td class="data column-phone">Phone</td>
                            <td class="data column-gender">Gender</td>
                            <td class="data column-department">Expertise</td>
                            <td class="data column-position">Salary</td>
                            <td class="data column-option"><i class="fa-solid fa-ellipsis-vertical"></i></td>
                        </tr>

                    </tbody>
                </table>

                <div class="pagination">
                    <span style="font-size: 12px" id="page-staff-total">1-4 of 12</span>
                    <div style="font-size: 12px" id="pagination-page">
                        <i class="fa-solid fa-angle-left" style="cursor: pointer; margin: 0 6px;"></i>
                        <span class="page-active" onclick="renderData.onLoadPageIndex(4, 1);" id="page-1">1</span>
                        <span onclick="renderData.onLoadPageIndex(4, 2);" id="page-2">2</span>
                        <span onclick="renderData.onLoadPageIndex(4, 3);" id="page-3">3</span>
                        <span onclick="renderData.onLoadPageIndex(4, 4);" id="page-4">4</span>
                        <i class="fa-solid fa-angle-right" style="cursor: pointer;margin: 0 6px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="">
                    <h3>New Member</h3>
                    <div class="form-holder">
                        <span class="lnr lnr-indent-decrease"></span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-holder">
                        <span class="lnr lnr-user"></span>
                        <input type="firstName" class="form-control" placeholder="FirstName">
                    </div>
                    <div class="form-holder">
                        <span class="lnr lnr-users"></span>
                        <input type="lastName" class="form-control" placeholder="LastName">
                    </div>
                    <div class="form-holder d-flex justify-content-around" style="font-size: 13px;font-weight: 500;color: #b4b4b4;">
                        <label class="form-label">Gender: </label>
                        <div class="gender-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="other" value="other">
                                <label class="form-check-label" for="other">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-holder">
                        <span class="lnr lnr-envelope"></span>
                        <input type="text" class="form-control" placeholder="Mail">
                    </div>
                    <div class="form-holder">
                        <span class="lnr lnr-lock"></span>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-holder">
                        <span class="lnr lnr-lock"></span>
                        <input type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                    <button>
                        <span>Register</span>
                    </button>
                </form>
                <img th:src="@{/assets/images/base/admin/create-icon-2.png}" alt="" class="image-2">
            </div>
        </div>
    </div>
</div>
