<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <title>Sparlex - Spa Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/lib/animate/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/lib/lightbox/css/lightbox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/lib/owlcarousel/assets/owl.carousel.min.css}">


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets/css/home/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/home/style.css}">

</head>
<body>
<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar start -->
<div class="container-fluid sticky-top px-0">
    <div th:replace="~{home/component/header :: header}"></div>
</div>
<!-- Navbar End -->


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h4 class="modal-title mb-0" id="exampleModalLabel">Tìm Kiếm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="Nhập" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->



<!-- Carousel Start -->
<div class="container-fluid carousel-header px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img th:src="@{assets/images/base/home/carousel-3.jpg}" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-primary text-uppercase mb-3">Chăm Sóc & Làm Đẹp</h4>
                        <h1 class="display-1 text-capitalize text-dark mb-3">Massage Trị Liệu Da</h1>
                        <p class="mx-md-5 fs-4 px-4 mb-5 text-dark">Massage trị liệu da không chỉ giúp thư giãn mà còn kích thích tuần hoàn máu, tăng cường sản sinh collagen, giúp da săn chắc và tươi trẻ hơn. Các phương pháp như massage đá nóng, bấm huyệt hay liệu pháp ánh sáng giúp giảm căng thẳng, đào thải độc tố và cải thiện kết cấu da hiệu quả. Đây là giải pháp hoàn hảo để vừa chăm sóc sức khỏe vừa nuôi dưỡng làn da khỏe đẹp từ sâu bên trong.</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5" th:href="@{appointment}">Đặt Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{assets/images/base/home/carousel-2.jpg}" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 3px;">Chăm Sóc & Làm Đẹp</h4>
                        <h1 class="display-1 text-capitalize text-dark mb-3">Massage Toàn Thân</h1>
                        <p class="mx-md-5 fs-4 px-5 mb-5 text-dark">Massage toàn thân giúp thư giãn cơ bắp, giảm căng thẳng và tăng cường lưu thông máu, mang lại cảm giác nhẹ nhàng và sảng khoái. Kết hợp các kỹ thuật xoa bóp chuyên sâu, massage không chỉ giảm đau nhức mà còn giúp cơ thể phục hồi năng lượng. Đây là liệu pháp hoàn hảo để tái tạo sức khỏe và cân bằng tinh thần sau những ngày làm việc mệt mỏi.</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5" th:href="@{appointment}">Đặt Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{assets/images/base/home/carousel-1.jpg}" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 3px;">Chăm Sóc & Làm Đẹp</h4>
                        <h1 class="display-1 text-capitalize text-dark">Nâng Cơ Chắc Da Công Nghệ Cao</h1>
                        <p class="mx-md-5 fs-4 px-5 mb-5 text-dark">Lorem rebum magna dolore amet lorem eirmod magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5" th:href="@{appointment}">Đặt Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Trước </span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sau</span>
        </button>
    </div>
</div>

<!-- Carousel End -->


<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <p class="fs-4 text-uppercase text-center text-primary">Dịch vụ của chúng tôi</p>
            <h1 class="display-3">Chăm Sóc & Làm Đẹp</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Chăm sóc da</h3>
                                <p>Chăm sóc da không chỉ giúp duy trì làn da khỏe mạnh, mịn màng mà còn ngăn ngừa lão hóa và các vấn đề về da. Với các liệu trình dưỡng ẩm, làm sạch sâu và tái tạo da, bạn sẽ luôn giữ được vẻ rạng rỡ và tươi trẻ mỗi ngày.</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img th:src="@{assets/images/base/home/services-1.jpg}" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img th:src="@{assets/images/base/home/services-2.jpg}" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>Massage Đá</h3>
                                <p>Massage đá nóng là liệu pháp thư giãn sâu, sử dụng đá nóng để kích thích tuần hoàn máu, giảm căng thẳng và cải thiện năng lượng cơ thể. Sức nóng từ đá giúp thả lỏng cơ bắp, giảm đau nhức và mang lại cảm giác thư thái tuyệt đối.</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="services-btn text-center">
                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="video">
                    <img th:src="@{assets/images/base/home/about-1.jpg}" class="img-fluid rounded" alt="">
                    <div class="position-absolute rounded border-5 border-top border-start border-white" style="bottom: 0; right: 0;;">
                        <img th:src="@{assets/images/base/home/about-2.jpg}" class="img-fluid rounded" alt="">
                    </div>
                    <button type="button" class="btn btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/watch?v=zwCB19IyPRU" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-7">
                <div>
                    <p class="fs-4 text-uppercase text-primary">Giới Thiệu</p>
                    <h1 class="display-4 mb-4">Trung Tâm Chăm Sóc Da & Masage</h1>
                    <p class="mb-4">Trung tâm chăm sóc da và massage mang đến liệu pháp thư giãn và làm đẹp chuyên sâu, giúp bạn tái tạo năng lượng và có làn da rạng rỡ. Với dịch vụ chuyên nghiệp và không gian sang trọng, đây là nơi lý tưởng để bạn chăm sóc bản thân.
                    </p>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <i class="fab fa-gitkraken fa-3x text-primary"></i>
                                <div class="ms-4">
                                    <h5 class="mb-2">Ưu Đãi Thành Viên Mới</h5>
                                    <p class="mb-0">Giảm 30% cho bất kỳ liệu trình chuyên sâu nào (trị mụn, trị nám, trẻ hóa da...) khi khách hàng đăng ký thành viên.Khuyến khích khách hàng trải nghiệm các dịch vụ cao cấp của trung tâm với mức giá ưu đãi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-gift fa-3x text-primary"></i>
                                <div class="ms-4">
                                    <h5 class="mb-2">Ưu Đãi thành Viên Lâu Năm</h5>
                                    <p class="mb-0">ích lũy điểm thưởng cho mỗi lần sử dụng dịch vụ.Đổi điểm lấy các quà tặng hấp dẫn như: sản phẩm chăm sóc da, liệu trình miễn phí, voucher giảm giá...Khuyến khích thành viên tiếp tục sử dụng dịch vụ và gắn bó lâu dài với trung tâm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="my-4">Độ an toàn của liệu trình chăm sóc da
                        Tại trung tâm, các liệu trình chăm sóc da được thực hiện bởi đội ngũ chuyên viên giàu kinh nghiệm, sử dụng sản phẩm an toàn, có nguồn gốc rõ ràng và công nghệ tiên tiến. Quy trình được thiết kế phù hợp với từng loại da, đảm bảo không gây kích ứng hay tác dụng phụ. Ngoài ra, không gian và dụng cụ luôn được vệ sinh kỹ lưỡng, mang đến sự an tâm tuyệt đối cho khách hàng.
                    </p>
                    <p class="mb-4">Hiệu quả đạt được
                        Sau mỗi liệu trình, làn da trở nên khỏe mạnh, căng mịn và rạng rỡ hơn nhờ được cung cấp dưỡng chất cần thiết và kích thích tái tạo tự nhiên. Các vấn đề về da như khô ráp, thâm nám hay lão hóa được cải thiện rõ rệt, mang lại vẻ ngoài tươi trẻ và tràn đầy sức sống. Với liệu trình phù hợp, bạn sẽ cảm nhận được sự thay đổi tích cực chỉ sau một thời gian ngắn.
                    </p>
                </div>
                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Tìm Hiểu Thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Video -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <a href="https://www.youtube.com/watch?v=MihWtTw3Lk4" target="_blank" rel="noopener noreferrer">
                        Xem video trên YouTube
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Appointment Start -->
<div class="container-fluid appointment py-5" style="background: var(--bs-primary);">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="appointment-form p-5">
                    <p class="fs-4 text-uppercase text-primary">Liên Hệ</p>
                    <h1 class="display-4 mb-4 text-white"Đặt Lịch</h1>
                    <form>
                        <div class="row gy-3 gx-4">
                            <div class="col-lg-6">
                                <input type="text" class="form-control py-3 border-white bg-transparent text-white" placeholder="Họ Và Tên">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" class="form-control py-3 border-white bg-transparent text-white" placeholder="Email">
                            </div>
                            <div class="col-lg-6">
                                <select class="form-select py-3 border-white bg-transparent" aria-label="Chọn Liệu Trình">
                                    <option selected>Liệu Trình</option>
                                    <option value="1">Combo 1</option>
                                    <option value="2">Combo 2</option>
                                    <option value="3">Combo 3</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <input type="date" class="form-control py-3 border-white bg-transparent">
                            </div>
                            <div class="col-lg-12">
                                <textarea class="form-control border-white bg-transparent text-white" name="text" id="area-text" cols="30" rows="5" placeholder="Ghi Chú"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary btn-primary-outline-0 w-100 py-3 px-5">ĐẶT NGAY</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="appointment-time p-5">
                    <h1 class="display-5 mb-4">Thời Gian Hoạt Động</h1>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Thứ 3</p>
                        <p>09:00 am – 10:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Thứ 4</p>
                        <p>09:00 am – 10:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Thứ 5</p>
                        <p>08:00 am – 11:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Thứ 6</p>
                        <p>08:00 am – 11:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white">
                        <p>Thứ 7</p>
                        <p>08:00 am – 11:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white mb-4">
                        <p>Chủ Nhật</p>
                        <p>08:00 am – 11:00 pm</p>
                    </div>
                    <div class="d-flex justify-content-between fs-5 text-white mb-4">
                        <p>Thứ 2</p>
                        <p>Đóng Cửa</p>
                    </div>
                    <p class="text-dark">Kiểm tra các chương trình giảm giá theo mùa để có được ưu đãi tốt nhất.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->






<div th:replace="~{home/component/footer :: footer}"></div>

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script th:src="@{/assets/lib/wow/wow.min.js}"></script>
<script th:src="@{/assets/lib/easing/easing.min.js}"></script>
<script th:src="@{/assets/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/assets/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/assets/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/assets/lib/owlcarousel/owl.carousel.min.js}"></script>


<!-- Template Javascript -->
<script th:src="@{/assets/js/home/main.js}"></script>
</body>
</html>