<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sparlex - Spa Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/lib/animate/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/lib/lightbox/css/lightbox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/lib/owlcarousel/assets/owl.carousel.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets/css/home/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/home/style.css}">
</head>

<body class="page-service">

<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar start -->
<div class="container-fluid sticky-top px-0">
    <div th:replace="~{home/component/header :: header}"></div>
</div>
<!-- Navbar End -->


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->



<!-- Header Start -->
<div class="container-fluid bg-breadcrumb py-5">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">Dịch Vụ Làm Đẹp</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a th:href="@{home}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Trang dịch vụ</li>
            </ol>
    </div>
</div>
<!-- Header End -->


<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <p class="fs-4 text-uppercase text-center text-primary">Dịch vụ của chúng tôi</p>
            <h1 class="display-3">Dịch vụ Spa & Làm đẹp</h1>
        </div>
        <div class="row g-4">
            <th:block th:each="i : ${#numbers.sequence(0, services.size() - 1, 2)}">
                <!-- Dịch vụ bên trái -->
                <div class="col-lg-6 wow fadeInUp">
                    <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3 th:text="${services[i].serviceName}">Tên dịch vụ</h3>
                                    <p th:text="${services[i].description}">Mô tả dịch vụ</p>
                                    <a href="/appointment" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt lịch</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img th:src="@{'/' + ${services[i].illustration}}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Dịch vụ bên phải -->
                <th:block th:if="${i + 1 < services.size()}">
                    <div class="col-lg-6 wow fadeInUp">
                        <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <div class="services-img d-flex align-items-center justify-content-center rounded">
                                        <img th:src="@{'/' + ${services[i + 1].illustration}}" class="img-fluid rounded" alt="">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="services-content text-start">
                                        <h3 th:text="${services[i + 1].serviceName}">Tên dịch vụ</h3>
                                        <p th:text="${services[i + 1].description}">Mô tả dịch vụ</p>
                                        <a href="/appointment" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt lịch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>
<!--            <div class="col-12 wow fadeInUp" data-wow-delay=".9s">-->
<!--                <div class="services-btn text-center">-->
<!--                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Xem thêm dịch vụ</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<!-- Services End -->



<!-- Footer Start -->
<div th:replace="~{home/component/footer :: footer}"></div>
<!-- Footer End -->




<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/lib/wow/wow.min.js}"></script>
<script th:src="@{/assets/lib/easing/easing.min.js}"></script>
<script th:src="@{/assets/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/assets/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/assets/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/assets/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/assets/js/home/main.js}"></script>

<script src="lib/wow/wow.min.js"></script>
<script>
    new WOW().init();
</script>

</body>

</html>