body {
    font-family: "Kodchasan", sans-serif;
}
.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-success {
    width: 540px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.payment-success h1 {
    color: #00d807;
    font-size: 2em;
    margin-bottom: 20px;
}

.payment-details {
    margin-top: 20px;
    text-align: left;
    padding: 12px;
}

.payment-details p {
    margin: 12px 0;
    font-size: 16px;
    line-height: 1.5;
}

.payment-details p span {
    font-weight: bold;
    color: #333;
}

.btn-back-home {
    width: 200px;
    padding: 12px;
    font-family: 'Kodchasan';
    font-size: 16px;
    font-weight: 600;
}

.btn-back-home:hover {
    background-color: #218838;
}

.payment-icon-success {
    width: 72px;
    margin: auto;
    box-shadow: 0 0 24px #00d807;
    border-radius: 50%;
}

.payment-fail h1 {
    color: #dc3545;
}

.payment-fail h3 {
    color: #dc3545;
    margin-top: 20px;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-content {
    background-color: white;
    padding: 72px 120px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.error-icon {
    box-shadow: 0 0 24px #d40000;
    border-radius: 50%;
    margin: auto;
    width: 62px;
}
