<div class="sidebar p-3" th:fragment="sidebar">
    <div class="sidebar-header text-center">
        <div class="logo-container">
            <img th:src="@{/assets/images/base/logo/logo.png}" alt="logo" class="logo-img"/>
            <div class="logo-name">
                <h5>Skincare</h5>
                <h6>Booking System</h6>
            </div>
        </div>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item" id="nav-dashboard">
            <i class="fa-solid fa-house"></i>
            <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
        </li>
        <li class="nav-item" id="nav-skintherapist">
            <i class="fa-solid fa-clipboard-user"></i>
            <a class="nav-link" th:href="@{/admin/skintherapist}">Skin Therapist</a>
        </li>
        <li class="nav-item" id="nav-booking">
            <i class="fa-solid fa-circle-check"></i>
            <a class="nav-link" th:href="@{/admin/booking}">Booking</a>
        </li>
        <li class="nav-item" id="nav-users">
            <i class="fa-solid fa-users"></i>
            <a class="nav-link" th:href="@{/admin/users}">Users</a>
        </li>
        <li class="nav-item" id="nav-promotions">
            <i class="fa-solid fa-info"></i>
            <a class="nav-link" th:href="@{/admin/promotions}">Promotion</a>
        </li>
        <button class="Btn" style="margin: 12px auto;font-size: 12px;" onclick="AuthCore.onLogout()">

            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

            <div class="text">Logout</div>
        </button>
    </ul>
</div>
