<div class="sidebar p-3" th:fragment="sidebar">
    <div class="sidebar-header text-center">
        <div class="logo-container">
            <img th:src="@{/assets/images/base/logo/logo.png}" alt="logo" class="logo-img"/>
            <div class="logo-name">
                <h5>Skincare</h5>
                <h6>Booking System</h6>
            </div>
        </div>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item" id="nav-dashboard">
            <i class="fa-solid fa-house"></i>
            <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
        </li>
        <li class="nav-item" id="nav-skintherapist">
            <i class="fa-solid fa-clipboard-user"></i>
            <a class="nav-link" th:href="@{/admin/skintherapist}">Skin Therapist</a>
        </li>
        <li class="nav-item nav-service-item" style="flex-direction: column">
            <div class="d-flex align-items-center nav-service-toggle" style="cursor: pointer" onclick="baseCore.toggleDropdown('service-dropdown')">
                <i class="fa-brands fa-servicestack"></i>
                <span class="nav-link">Service</span>
                <svg class="chevron-down ms-auto" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" style="padding-left: 24px;fill: #4400ff;">
                    <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                </svg>
            </div>
            <ul class="nav-service-submenu collapse" id="service-dropdown">
                <li><a class="nav-dropdown-content" id="dropdown-service" th:href="@{/admin/service}"><i class="fa-solid fa-list"></i>List Service</a></li>
                <li><a class="nav-dropdown-content" id="dropdown-addService" th:href="@{/admin/addService}"><i class="fa-solid fa-plus"></i>Add Service</a></li>
            </ul>
        </li>

        <li class="nav-item" id="nav-booking">
            <i class="fa-solid fa-circle-check"></i>
            <a class="nav-link" th:href="@{/admin/booking}">Booking</a>
        </li>
        <li class="nav-item" id="nav-users">
            <i class="fa-solid fa-users"></i>
            <a class="nav-link" th:href="@{/admin/users}">Users</a>
        </li>
        <li class="nav-item" id="nav-feedback">
            <i class="fa-regular fa-comment-dots"></i>
            <a class="nav-link" th:href="@{/admin/feedback}">Feedback</a>
        </li>
        <li class="nav-item" id="nav-supportRequest">
            <i class="fa-regular fa-comment-dots"></i>
            <a class="nav-link" th:href="@{/admin/supportRequest}">Support Request</a>
        </li>
        <button class="Btn" style="margin: 12px auto;font-size: 12px !important;" onclick="AuthCore.onLogout()">

            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

            <div class="text">Logout</div>
        </button>
    </ul>
</div>
